<h1 class="text-2xl text-center mt-20">Cart: {{ cart().length }}</h1>

<div class="flex justify-center gap-2">
  <div class="h-fit w-100">
    <h2 class="font-bold bg-blue-200 my-2 text-lg">Products</h2>
    @for (product of products(); track product) {
      <div class="flex gap-2 p-2 my-1 w-full h-fit border rounded border-gray-200">
        <div class="p-2 w-full">
          <p>{{ product.name }}</p>
          <p>{{ product.price }} €</p>
        </div>
        <button
          class="bg-blue-500 text-white rounded h-fit my-auto px-2 py-1 hover:bg-blue-600"
          (click)="addToCart(product)"
        >
          Add
        </button>
      </div>
    }
  </div>
  <div class="h-fit w-100">
    <h2 class="font-bold bg-blue-200 my-2 text-lg">Cart</h2>
    @for (product of cart(); track $index) {
      <div class="flex bg-gray-300 rounded p-2 my-1">
        <p class="w-full">{{ product.name }}</p>
        <button class="text-red-600 cursor-pointer" (click)="removeFromCart($index)">Remove</button>
      </div>
    }
    <p class="font-bold my-2 text-lg">Total: {{ totalPrice() }} €</p>
  </div>
</div>
